<div class="container jumbotron">
	<h2 id="heading">TestQuoteApp</h2>
	<ul id="nav-list">
		<li>{{#link-to 'quotes' id="btn"}}Home{{/link-to}}</li>
		<li>{{#link-to 'quotes.add'}}Add Quote{{/link-to}}</li>
	</ul>
</div>
{{outlet}}